PORT=5000 # Default port for localhost backend
MONGO_URI=mongodb://localhost:27017/ # Local Mongo cluster URI (check /docker-compose.yml)
DB_NAME=TaskFlow # Name of the database
JWT_REFRESH_SECRET=this_is_a_secret_for_device_registration_token
JWT_ACCESS_SECRET=this_is_a_secret_for_authorization_token
FRONTEND_URL=http://localhost:5173 # Used for HttpOnly cookies management
NODE_ENV=local # "local" for HTTP (mainly localhost). "production" for HTTPS. Set to "test" to trigger test scripts with "> jest".
